
<section id="articles-list" class=" row col col-12 ">

    @if (Articles?.Any() == true)
    {
        foreach (var article in Articles)
        {
            <ArticleBox DisplayedArticle="article" />
        }
    }
    else
    {
        <p>No articles available</p>
    }
</section>

@code {
    [Parameter]
    public List<Article> Articles { get; set; }
}
