<h3>Articles List</h3>

@if (Articles?.Any() == true)
{
    foreach (var article in Articles)
    {
      <ArticleBox DisplayedArticle="article"/>
    }
}


@code {
    [Parameter]
    public List<Article> Articles { get; set; }
}
