<section id="sites-list" class=" row col col-12 ">

    @if (Sites?.Any() == true)
    {
        @foreach (var site in Sites)
        {
            <SiteBox DisplayedSite="site" />
        }
    }
    else
    {
        <p>No sites available</p>
    }

</section>

    @code {

        [Parameter]
        public List<Site> Sites { get; set; }
    }
