@if (Sites?.Any() == true)
{
   <section id="sites-list" class=" row col col-12 withDebugBorder">
       @foreach (var site in Sites)
       {
           <SiteBox DisplayedSite="site"/>
       }
   </section>
}
else
{
    <p>No sites available</p>
}


@code {

    [Parameter]
    public List<Site> Sites { get; set; }
}
