@page "/"
@inject IDataRepository _dataRepository

<section id="topic-selector card">
    <ul>
        @foreach (var topic in GetTopics())
        {
            <li>@topic </li>
        }

    </ul>
</section>

<div class="row flex-spaces tabs withDebugBorder">
    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1">Blogs</label>

    <input id="tab2" type="radio" name="tabs">
    <label for="tab2">Articles</label>

    <div class="content " id="content1">
            <SitesList Sites="GetSitesList()"></SitesList>
    </div>
    <div class="content" id="content2">
        <ArticlesList Articles="GetArticles()"></ArticlesList>
    </div>
</div>

 

@code{
    string[] topics = null;

    public List<string> GetTopics() => _dataRepository.GetAvailableTopics().GetAwaiter().GetResult().ToList();



    public List<Site> GetSitesList()
    {
        return _dataRepository.GetSites(null, null, DateTime.MinValue).GetAwaiter().GetResult().ToList();
    }

    public List<Article> GetArticles()
    {
        return _dataRepository.GetArticles(null, null, DateTime.MinValue).GetAwaiter().GetResult().ToList();
    }

}