@page "/"
@inject IDataRepository _dataRepository

<h1>Hello, world</h1>

Welcome to your new app.

<section id="topic-selector">
    <EditForm Model="@formModel" OnValidSubmit="HandleValidSubmit">
        <InputText id="searchText" @bind-Value="@formModel.SearchText" />
        <button type="submit">Submit</button>
    </EditForm>

    <ul>
        @foreach (var topic in GetTopics())
        {
            <li>@topic </li>
        }

    </ul>
</section>
<section>

    <SitesList Sites="GetSitesList()"></SitesList>
</section>

<section>
    <ArticlesList Articles="GetArticles()"></ArticlesList>

</section>


@code{


    private FormModel formModel = new FormModel();

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");

    }


    string[] topics = null;

    public List<string> GetTopics() => _dataRepository.GetAvailableTopics().GetAwaiter().GetResult().ToList();



    public List<Site> GetSitesList()
    {
        return _dataRepository.GetSites(null, null, DateTime.MinValue).GetAwaiter().GetResult().ToList();
    }

    public List<Article> GetArticles()
    {
        return _dataRepository.GetArticles(null, null, DateTime.MinValue).GetAwaiter().GetResult().ToList();
    }

}